body {
	display: flex; /* フレックスボックスを使用 */
	justify-content: center; /* 水平方向に中央揃え */
	overflow: hidden;
}

.material-icons {
	cursor: pointer;
}

.calendar {
	width: 100%;
	max-width: 800px;
	height: 300px; /* 高さを調整して縦長に */
	padding-top: 46px;
}

.calendars {
	position: absolute; /* 絶対位置を設定 */
	width: 100%; /* 幅を100%に設定 */
	transition: transform 0.3s ease; /* スライドのトランジションを設定 */
}

.days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	margin: 0;
}

.day {
	font-size: 12px;
	text-align: center;
	background-color: #f0f0f0; /* 曜日の背景色を薄いグレーに */
}

.date-container {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.date {
	position: relative; /* 相対位置に設定 */
	cursor: pointer;
	border: 1px solid #ccc; /* ボックスに枠を追加 */
	font-size: 12px; /* フォントサイズを小さく */
	height: 75px; /* ボックスの高さを調整 */
	background-color: #ffffff; /* 平日の背景色を白に */
	overflow: hidden; /* はみ出た部分を隠す */
	white-space: nowrap; /* 折り返さない */
}

.date-wrapper {
	height: 17px;
	padding-right: 3px;
	display: flex;
	align-items: center;
	justify-content: right;
}

.event-list {
	display: flex;
	flex-direction: column;
	gap: 2px;
	margin: 1px 1px 0 2px;
	font-size: 10px
}

.date.today .circle {
	position: absolute; /* 絶対位置を設定 */
	width: 16px; /* 丸の直径 */
	height: 16px; /* 丸の直径 */
	border-radius: 50%; /* 丸くする */
	background-color: #4682b4; /* 背景色 */
	top: 1px; /* 縦の位置を中央に */
	right: 1px; /* 日付の右側に配置 */
	display: flex; /* 中央揃え */
	justify-content: center; /* 中央揃え */
	align-items: center; /* 中央揃え */
	color: #ffffff;
}

/* 隣接ボックスの右側と下側のボーダーを非表示に */
.date:not(:nth-child(7n)) {
	border-right: none; /* 右側のボーダーを非表示 */
}

.date:not(:nth-last-child(-n+7)) {
	border-bottom: none; /* 下側のボーダーを非表示 */
}

/* 土日のスタイル */
.weekend {
	background-color: #eaeef2; /* 薄い青の背景をさらに薄く */
}

.saturday {
	color: #007bff; /* 土曜日の日付文字色 */
}

.sunday {
	color: #dc3545; /* 日曜日の日付文字色 */
}

/* 薄い文字のスタイル */
.faded {
	color: rgba(0, 0, 0, 0.3); /* 薄い文字色 */
}

.selected-date-info {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	padding: 10px 0;
	display: flex;
}

.day-week {
	padding: 0 20px;
}

.day-week-sub {
	width: 24px;
	height: 24px;
	text-align: center;
}

.main-schedule {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 10px 30px;
	gap: 5px;
	color: #ffffff;
	font-size: 14px;
	overflow-y: auto; /* 縦方向にスクロールを有効にする */
	white-space: nowrap; /* 折り返さない */
}

.event {
	padding: 0 2px;
	border-radius: 2px;
	color: #ffffff;
	height: 12px;
	display: flex;
	align-items: center;
}

.event-main {
	padding: 0 5px;
	border-radius: 4px;
}

.breakfast {
	background-color: #33cd30;
}

.lunch {
	background-color: #ff9800;
}

.dinner {
	background-color: #5a81e8;
}

.tea-time {
	background-color: #f27dd9;
}

.takeout {
	background-color: #f1c40f;
}

/* ポップアップの基本スタイル */
.popup-container {
	width: 250px;
	min-height: 120px;
	position: absolute; /* 絶対位置 */
	background-color: rgba(64, 64, 64, 0.9); /* 透け感のあるグレー */
	color: #ffffff;
	border: none; /* 枠線 */
	border-radius: 4px; /* 角を丸く */
	padding: 10px; /* 内側の余白 */
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* 影 */
	opacity: 0; /* 初期状態は透明 */
	display: none;
	flex-direction: column;
}

.popup-main {
	width: 100%;
	display: flex;
}

.popup-mark {
	min-width: 18px; /* 丸の直径 */
	height: 18px; /* 丸の直径 */
	border-radius: 50%; /* 丸くする */
	margin-top: 2px;
}

.popup-text {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-left: 10px;
}

.popup-icon {
	width: 180px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 5px;
}

.popup-icon span:nth-child(3) {
	color: #f45858; /* 3番目のアイコンを赤色に設定 */
}

/* 吹き出しの矢印 */
.popup-arrow {
	position: absolute; /* 絶対位置 */
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgba(64, 64, 64, 0.9); /* 透け感のあるグレー */
	top: 100%; /* ポップアップの下に位置 */
	left: 50%; /* 中央に配置 */
	transform: translateX(-50%); /* 中心に移動 */
}

.tools {
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	gap: 5px;
}

.dropdown {
	display: block; /* 初期状態で表示 */
	position: fixed;
	background-color: #ffffff; /* 背景色 */
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 影を追加 */
	width: 100%; /* 幅 */
	max-height: 0; /* 初期は非表示 */
	overflow: hidden; /* はみ出しを防ぐ */
	transition: max-height 0.3s ease-out; /* スライドアニメーション */
	/* 位置調整 */
	top: 46px; /* ボタンの下に表示（必要に応じて調整） */
	right: 0; /* 右からの距離（必要に応じて調整） */
	text-align: center;
}

.dropdown.show {
	max-height: 60px; /* スライドダウンの最大高さ */
}

.dropdown-menu {
	text-align: center;
	width: 100px;
	margin: 20px 5px;
	background-color: var(--background-color);
	border-radius: 4px;
	font-size: 16px;
}

.delete-modal {
	display: none; /* 初期状態で非表示 */
	flex-direction: column;
	gap: 10px;
	padding: 15px 15px 30px 15px;
	background-color: #ffffff;
	position: fixed; /* 固定位置に設定 */
	bottom: -120px; /* 縦の位置を下に移動 */
	width: 100%; /* 幅を指定 */
	z-index: 300; /* モーダルを最前面に表示 */
	transition: bottom 0.3s ease-in-out;
}

.delete-modal.open {
	bottom: 0;
}

.delete-check:nth-child(1) {
	background-color: #ff4d4d; /* 背景の色 */
	color: #ffffff; /* テキストの色 */
	font-weight: 700; /* 文字の太さ */
	border: 1px solid #ff4d4d;
	border-radius: 3px; /* 角を丸くする */
	padding: 10px; /* 上下と左右のパディング */
	font-size: 14px; /* フォントサイズ */
	cursor: pointer; /* カーソルをポインターに */
}

.delete-check:nth-child(2) {
	background-color: #ffffff; /* 背景の色 */
	color: #333333; /* テキストの色 */
	font-weight: 700; /* 文字の太さ */
	border: 1px solid #333333;
	border-radius: 3px; /* 角を丸くする */
	padding: 10px; /* 上下と左右のパディング */
	font-size: 14px; /* フォントサイズ */
	cursor: pointer; /* カーソルをポインターに */
}

/* オーバーレイのスタイル */
.overlay {
	display: none; /* 初期状態で非表示 */
	position: fixed; /* 固定位置に設定 */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒色 */
	z-index: 300; /* オーバーレイをモーダルの下に表示 */
	opacity: 0;
}

/* フォームメニュー */
.form-menu {
	position: fixed;
	top: 200%;
	right: 0; /* 初期状態では画面外 */
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	color: #000000;
	transition: top 0.3s ease-in-out;
	z-index: 250;
	overflow-y: auto; /* 縦方向のスクロールを有効に */
}

.form-menu.open {
	top: 0;
}

.form-header {
	width: 100%;
	height: 46px;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	position: absolute;
	color: #ffffff;
	background-color: var(--header-color);
	z-index: 1;
}

.form-header span {
	cursor: pointer;
}

.center {
	position: absolute; /* 中央揃えのため絶対配置 */
	left: 50%; /* 左から50% */
	transform: translateX(-50%); /* 自身の幅の半分だけ戻す */
	text-align: center; /* 中央揃え */
	font-weight: 900; /* 太字 */
}

.submit-button {
	font-weight: 900; /* 太字 */
}

.meal-form {
	background-color: #ffffff; /* 背景色 */
	padding-top: 46px;
}

.meal-form li {
	display: flex; /* フレックスボックスを使って項目を横に並べる */
	align-items: flex-start; /* 縦方向の中央揃え */
	border-bottom: 1px solid #e0e0e0; /* 各項目の下に境目の線を追加 */
	height: auto; /* 高さを自動に設定 */
	padding: 20px;
}

.meal-form li:last-child {
	border-bottom: none; /* 最後の項目には境目の線を表示しない */
}

.color-circle {
	min-width: 20px; /* 丸の直径 */
	height: 20px; /* 丸の直径 */
	border-radius: 50%; /* 丸くする */
	margin: 2px 22px 2px 2px;
}

.main-position {
	margin-top: 4px;
}

.meal-form li .material-icons {
	margin-right: 20px;
}

.item {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.item > :first-child {
	margin-top: 4px; /* 最初の要素にマージンを適用 */
}

.item-container {
	display: flex; /* フレックスボックスを使用 */
	align-items: center; /* 中央揃え */
}

.remove-button {
	cursor: pointer; /* カーソルをポインターに */
	color: red; /* 削除ボタンの色 */
	margin: 0 !important; /* ボタンとテキストエリアの間にスペース */
	padding: 0 0 0 20px; /* ボタンとテキストエリアの間にスペース */
	font-size: 16px !important;
}

.add-target {
	position: relative; /* 親要素を相対位置に設定 */
}

.addItem {
	position: absolute; /* 絶対配置 */
	top: 5px; /* 上に移動 */
	left: 40px; /* 左に配置 */
	font-size: 20px; /* フォントサイズを調整 */
	color: green; /* 色を指定 */
}

.separator {
	height: 1px; /* 仕切りの高さ */
	background-color: #ccc; /* 仕切りの色 */
	margin: 10px 0; /* 上下のマージン */
}

.text-node {
	flex-grow: 1; /* テキストを左に寄せるためにフレックスボックスの成長を設定 */
	overflow: hidden;
	overflow-wrap: break-word; /* 単語の途切れを許可 */
	word-wrap: break-word; /* 古いブラウザのサポート */
	hyphens: auto; /* ハイフネーションを自動にする */
	text-align: left;
	width: 100%;
	font-size: 16px;
	border: none;
	outline: none;
	resize: none; /* ユーザーによるサイズ変更を無効にする */
	padding-left: 10px;
	display:flex;
	align-items:center;
}

.text-node-date {
	width: 100%;
	height: 24px;
	font-size: 16px;
	padding-left: 10px;
}

.option-hidden {
	opacity: 0;
}

.radio-group {
	display: flex; /* 横並びにする */
	align-items: center; /* 縦方向の中央揃え */
	gap: 10px;
	padding-left: 10px;
}

.radio-group label {
	cursor: pointer; /* マウスカーソルをポインターに */
	color: #333; /* テキストの色を統一 */
}

/* ラジオボタンのスタイル */
input[type="radio"] {
	display: none; /* デフォルトのラジオボタンを非表示 */
}

/* 各ラジオボタンに対応するスタイル */
.radio-breakfast input[type="radio"]:checked + span {
	background-color: #33cd30; /* 選択された場合の背景色（赤） */
	color: white; /* テキストの色（白） */
}

.radio-lunch input[type="radio"]:checked + span {
	background-color: #efa538; /* 選択された場合の背景色（青） */
	color: white; /* テキストの色（白） */
}

.radio-dinner input[type="radio"]:checked + span {
	background-color: #5a81e8; /* 選択された場合の背景色（緑） */
	color: white; /* テキストの色（白） */
}

.radio-tea-time input[type="radio"]:checked + span {
	background-color: #f27dd9; /* 選択された場合の背景色（緑） */
	color: white; /* テキストの色（白） */
}

/* スタイルを適用するためのスパン */
.radio-group span {
	padding: 10px 10px; /* パディング */
	border-radius: 5px; /* 角を丸くする */
	border: 1px solid #ccc; /* 枠線 */
	transition: background-color 0.3s; /* 背景色の遷移 */
	font-size: 14px;
}

.hidden {
	max-height: 0; /* 高さを0に */
	opacity: 0; /* 不透明度を0に */
	padding: 0 !important; /* パディングを0に */
	pointer-events: none; /* クリックイベントを無効に */
}