.left {
	text-align: left; /* 左寄せ（デフォルト） */
	cursor: pointer;
}

.center {
	position: absolute; /* 中央揃えのため絶対配置 */
	left: 50%; /* 左から50% */
	transform: translateX(-50%); /* 自身の幅の半分だけ戻す */
	text-align: center; /* 中央揃え */
	font-weight: 900; /* 太字 */
}

.right {
	display: flex; /* 子要素を横並びにする */
	gap: 10px; /* ボタン間のスペース */
}

.hidden {
	visibility: hidden; /* 要素を非表示にするが、スペースは保持 */
}

.header-delete-mode {
	background-color: #dc3545; /* 削除モードの背景色 */
	color: #fff; /* 削除モードの文字色 */
}

span.add-icon, .delete-icon, .update-icon, button {
	cursor: pointer;
}

.action-button {
	overflow: hidden;
	margin-bottom: 10px;
}

.action-button button{
	flex: 1;
	background-color: #fff2f2;
	color: #000000;
	border: none;
	padding: 10px;
	font-size: 10px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	float: right;
}

#tune-icon {
	color: #ff0000;
}

.actionButtonSelected {
	color: #ff0000 !important;
}

.dropdown {
	display: none; /* 初期状態で非表示 */
	position: absolute;
	background-color: #ffffff; /* 背景色 */
	border-radius: 8px; /* 角を丸くする */
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 影を追加 */
	z-index: 1000; /* 上に表示するための設定 */
	transition: all 0.3s ease; /* アニメーション */
	width: 230px; /* 幅 */
	/* 位置調整 */
	top: 120px; /* ボタンの下に表示（必要に応じて調整） */
	left: 90px; /* 左からの距離（必要に応じて調整） */
}

.dropdown ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.dropdown li {
	padding: 10px 20px; /* パディングを増やして余裕を持たせる */
	cursor: pointer;
	transition: background-color 0.3s; /* ホバー時のアニメーション */
	border-bottom: 1px solid #e0e0e0; /* 各項目の下に境目の線を追加 */
}

/* プルダウンのスタイル */
.sort-top {
	background-color: #e0e0e0; /* 任意の色に変更 */
	border-radius: 8px 8px 0 0; /* 角を丸くする */
}

.sort-center {
	background-color: #e0e0e0; /* 任意の色に変更 */
}

.sort-bottom {
	background-color: #e0e0e0; /* 任意の色に変更 */
	border-radius: 0 0 8px 8px; /* 角を丸くする */
}

.dropdown li:last-child {
	border-bottom: none; /* 最後の項目には境目の線を表示しない */
}

/* アニメーション効果 */
.dropdown.show {
	display: block; /* 表示する */
	opacity: 1; /* 不透明度を設定 */
}

/* サイドメニュー */
.side-menu {
	position: fixed;
	top: 0;
	right: -100%; /* 初期状態では画面外 */
	width: 80%;
	height: 100%;
	background-color: #fff2f2;
	color: #000000;
	transition: right 0.1s ease-in-out;
	z-index: 2000;
}

.side-menu-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #ccc; /* 下に線を引く */
	padding: 10px 20px;
}

hr {
	width: 90%;
	margin: 0 auto;
	color: #ccc;
}

.side-menu-header span {
	cursor: pointer;
}

/* サイドメニューが表示される状態 */
.side-menu.open {
	right: 0;
}

.close-button {
	color: #aaa;
	font-size: 28px;
	font-weight: bold;
}

.close-button:hover, .close-button:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.sideMenuBlock {
	padding: 10px 20px;
	display: flex; /* フレックスボックスを使用 */
	flex-direction: column; /* 縦に配置 */
}

.blockName {
	padding: 10px 0px; /* アイテムのパディング */
	font-weight: 900;
	margin-bottom: 10px;
}

.sideMenuBlock input {
	margin-bottom: 10px;
}

.checkFilterButton {
	display: flex; /* フレックスボックスを使用 */
	justify-content: space-between; /* アイテムの間にスペースを均等に配置 */
	margin-bottom: 10px;
}

#checkTrue, #checkFalse {
	display: flex; /* フレックスボックスを使用 */
	justify-content: center; /* 水平方向に中央揃え */
	align-items: center; /* 垂直方向に中央揃え */
	background-color: #ffffff; /* ボタンの背景色 */
	border: 1px solid #ccc; /* 枠線 */
	padding: 10px 50px; /* パディング */
	border-radius: 5px; /* 角を丸く */
	cursor: pointer; /* カーソルをポインターに */
	transition: background-color 0.3s; /* ホバー時のアニメーション */
}

.checkFilterButton .material-icons {
	color: #000000;
}

.optionButton {
	display: flex; /* フレックスボックスを使用 */
	align-items: center; /* 垂直方向に中央揃え */
	margin-bottom: 10px;
}

.optionButton button {
	background-color:  #ffffff;
	border: 1px solid #ccc; /* 枠線 */
}

.searchOptionSelected {
	background-color: #ffe4e1 !important; /* 選択状態の背景色 */
	border-color: #ff6f61;
}

#bookmark {
	display: flex; /* フレックスボックスを使用 */
	align-items: center; /* 垂直方向に中央揃え */
	padding: 10px 10px; /* パディング */
	border-radius: 30px; /* 角を丸く */
}

.side-menu-footer {
	padding: 20px 20px; /* フッターのパディング */
	border-top: 2px solid #ccc; /* 上に線を引く */
}

.search-button {
	display: flex; /* フレックスボックスを使用 */
	justify-content: center; /* 水平方向に中央揃え */
	align-items: center; /* 垂直方向の中央揃え */
	background-color: #ff4d4d; /* ボタンの背景色 */
	color: white; /* テキストの色 */
	border: none; /* ボーダーをなしに */
	padding: 10px 15px; /* パディング */
	border-radius: 5px; /* 角を丸く */
	cursor: pointer; /* カーソルをポインターに */
	transition: background-color 0.3s, transform 0.2s; /* ホバー時のアニメーション */
	font-size: 16px;/* フォントサイズ */
	font-weight: 900; /* 太字 */
	width: 100%; /* ボタンを全幅に */
}

.search-button:hover {
	transform: translateY(-2px); /* ホバー時に少し上に移動 */
}

.search-button:active {
	transform: translateY(0); /* アクティブ時に元の位置に戻す */
}

.modal {
	display: none; /* 初期状態で非表示 */
	padding: 30px;
	margin: 0; /* マージンをリセット */
	border-radius: 10px;
	background-color: #003b5b;
	position: fixed; /* 固定位置に設定 */
	top: 40%; /* 縦の位置を上に移動（例: 40%） */
	left: 50%; /* 横中央に配置 */
	transform: translate(-50%, -50%); /* 中央に移動 */
	width: 400px; /* 幅を指定（例: 400px） */
	max-width: 90%; /* 最大幅を90%に設定 */
	z-index: 1; /* モーダルを最前面に表示 */
}

/* オーバーレイのスタイル */
.header-overlay {
	display: none; /* 初期状態で非表示 */
	position: fixed; /* 固定位置に設定 */
	top: 0;
	left: 0;
	width: 100%;
	height: 46px;
	background-color: rgba(0, 0, 0, 0); /* 半透明の黒色 */
	z-index: 2000; /* モーダルや他の要素よりも上に表示 */
}

.footer-overlay {
	display: none; /* 初期状態で非表示 */
	position: fixed; /* 固定位置に設定 */
	bottom: 0;
	left: 0;
	width: 100%;
	height: 78.5px;
	background-color: rgba(0, 0, 0, 0); /* 半透明の黒色 */
	z-index: 2000; /* モーダルや他の要素よりも上に表示 */
}

.overlay {
	display: none; /* 初期状態で非表示 */
	position: fixed; /* 固定位置に設定 */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒色 */
	z-index: 1; /* オーバーレイをモーダルの下に表示 */
}

.overlay p {
	color: white;
	text-align: center;
	margin-top: 20%;
}

.title {
	width: 100%; /* 幅を100%に設定 */
	margin-bottom: 10px;
	display: flex; /* フレックスボックスを使用 */
	align-items: center; /* 垂直方向の中央揃え */
	justify-content: space-between; /* 左右のスペースを均等に */
}

h4 {
	font-size: 24px;
	color: white;
	flex-grow: 1; /* h4が利用可能なスペースをすべて占有 */
	text-align: center; /* 中央揃え */
	margin: 0; /* デフォルトのマージンをリセット */
}

.modal input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

textarea {
	width: 100%;
	padding: 10px;
}

/* フォントの統一 */
input[type="text"], textarea {
	font-family: 'Arial', sans-serif; /* 使用したいフォントを指定 */
	font-size: 14px; /* フォントサイズを指定 */
	line-height: 1.5; /* 行間を指定 */
	padding: 10px; /* 内側の余白を指定 */
	border: 1px solid #ccc; /* ボーダーを指定 */
	border-radius: 5px; /* 角を丸くする */
	box-sizing: border-box; /* パディングとボーダーを含めた幅の計算 */
}

/* フォーカス時のスタイルを追加 */
input[type="text"]:focus,
textarea:focus {
	border-color: #007BFF; /* フォーカス時のボーダー色 */
	outline: none; /* デフォルトのアウトラインを消す */
}

#submit1, #submit2 {
	border: none;
	background-color: orangered;
	color: white;
	width: 100%;
	margin-top: 20px;
	border-radius: 5px;
}

#submit1:hover{
	background-color: #333333;
}

#submit2:hover{
	background-color: #333333;
}

/* リストのスタイル */
#dataDisplay {
	list-style-type: none; /* 点を非表示にする */
	padding: 0; /* 左の余白を取り除く */
	margin: 0; /* 上下の余白を取り除く */
}

/* リストアイテムのスタイル */
#dataDisplay li {
	display: flex; /* フレックスボックスを使って項目を横に並べる */
	align-items: center; /* 縦方向の中央揃え */
	padding: 10px 0; /* 内側の余白 */
	margin: 5px 0; /* 上下の外側の余白 */
	border: 1px solid #ccc; /* 枠線 */
	border-radius: 5px; /* 角を丸くする */
	background-color: #f9f9f9; /* 背景色 */
	cursor: pointer;
	position: relative;
	transition: transform 0.3s ease; /* スライドのアニメーション */
	z-index: 0;
	overflow: hidden; /* はみ出した部分を隠す */
	text-align: center;
}

.delete-button {
	position: absolute;
	right: 10px; /* ボタンの位置 */
	background: red; /* ボタンの背景色 */
	color: white; /* ボタンの文字色 */
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	transition: opacity 0.3s ease; /* ボタンのフェードイン・アウト */
}

#dataDisplay .text-Node {
	width: 0%; /* 幅を100%に設定 */
	flex-grow: 1; /* テキストを左に寄せるためにフレックスボックスの成長を設定 */
	overflow-wrap: break-word; /* 単語の途切れを許可 */
	word-wrap: break-word; /* 古いブラウザのサポート */
	hyphens: auto; /* ハイフネーションを自動にする */
	text-align: left;
}

/* チェックボックスのスタイル */
#dataDisplay li input[type="checkbox"] {
	margin-left: 15px; /* チェックボックスの左側にマージンを追加 */
	margin-right: 15px; /* チェックボックスとテキストの間の余白 */
	cursor: pointer;
}

/* 削除ボタンのスタイル */
#dataDisplay .single-delete-icons {
	text-align: center;
	margin: 0 9.5px; /* チェックボックスのサイズ+余白に合わせたサイズ */
	cursor: pointer;
}

.selected {
	background-color: #e0e0e0 !important; /* 選択状態の背景色 */
}