.left {
	cursor: pointer;
	display: flex; /* 子要素を横並びにする */
}

.center {
	position: absolute; /* 中央揃えのため絶対配置 */
	left: 50%; /* 左から50% */
	transform: translateX(-50%); /* 自身の幅の半分だけ戻す */
	text-align: center; /* 中央揃え */
	font-weight: 900; /* 太字 */
}

.right {
	display: flex; /* 子要素を横並びにする */
	gap: 10px; /* ボタン間のスペース */
}

.hidden {
	visibility: hidden; /* 要素を非表示にするが、スペースは保持 */
}

.header-delete-mode {
	background-color: #dc3545; /* 削除モードの背景色 */
	color: #fff; /* 削除モードの文字色 */
}

span.delete-icon, .update-icon, button {
	cursor: pointer;
}

.navigation-buttons {
	background-color: var(--background-color);
	position: fixed;
	top: 46px;
	right: 0;
	z-index: 10;
	width: 100%;
	padding: 0 15px;
	border-bottom: 1px solid #ccc; /* 各項目の下に境目の線を追加 */
}

.delete-navigation-buttons {
	display: none;
}

.navigation-buttons button{
	flex: 1;
	background-color: var(--background-color);
	color: #000000;
	border: none;
	padding: 10px;
	font-size: 10px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	float: right;
}

#filterIcon { /* id指定でないと適用されない */
	color: #ff0000;
}

.actionButtonSelected {
	color: #ff0000 !important;
}

.sort-dropdown {
	display: none; /* 初期状態で非表示 */
	position: fixed;
	background-color: #ffffff; /* 背景色 */
	border-radius: 8px; /* 角を丸くする */
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 影を追加 */
	z-index: 10; /* 上に表示するための設定 */
	transition: all 0.3s ease; /* アニメーション */
	width: 230px; /* 幅 */
	/* 位置調整 */
	top: 120px; /* ボタンの下に表示（必要に応じて調整） */
	right: 70px; /* 右からの距離（必要に応じて調整） */
	opacity: 0;
}

.sort-dropdown ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sort-dropdown li {
	padding: 10px 20px; /* パディングを増やして余裕を持たせる */
	cursor: pointer;
	transition: background-color 0.3s; /* ホバー時のアニメーション */
	border-bottom: 1px solid #e0e0e0; /* 各項目の下に境目の線を追加 */
}

.sort-dropdown li:last-child {
	border-bottom: none; /* 最後の項目には境目の線を表示しない */
}

/* プルダウンのスタイル */
.sort-top {
	background-color: #e0e0e0; /* 任意の色に変更 */
	border-radius: 8px 8px 0 0; /* 角を丸くする */
}

.sort-center {
	background-color: #e0e0e0; /* 任意の色に変更 */
}

.sort-bottom {
	background-color: #e0e0e0; /* 任意の色に変更 */
	border-radius: 0 0 8px 8px; /* 角を丸くする */
}

/* サイドメニュー */
.side-menu {
	position: fixed;
	top: 0;
	right: -100%; /* 初期状態では画面外 */
	width: 330px;
	height: 100%;
	background-color: var(--background-color);
	color: #000000;
	transition: right 0.2s ease-in-out;
	z-index: 250;
}

/* サイドメニューが表示される状態 */
.side-menu.open {
	right: 0;
}

.side-menu-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #ccc; /* 下に線を引く */
	padding: 10px 20px;
}

.side-menu-line {
	width: 90%;
	margin: 0 auto;
	color: #ccc;
}

.side-menu-header span {
	cursor: pointer;
}

.side-menu-block {
	padding: 10px 20px;
	display: flex; /* フレックスボックスを使用 */
	flex-direction: column; /* 縦に配置 */
}

.block-name {
	padding: 10px 0px; /* アイテムのパディング */
	font-weight: 900;
	margin-bottom: 10px;
}

.side-menu-block input {
	margin-bottom: 10px;
}

.filter-check-button {
	display: flex; /* フレックスボックスを使用 */
	justify-content: space-between; /* アイテムの間にスペースを均等に配置 */
	margin-bottom: 10px;
}

#checkTrue, #checkFalse {
	display: flex; /* フレックスボックスを使用 */
	justify-content: center; /* 水平方向に中央揃え */
	align-items: center; /* 垂直方向に中央揃え */
	background-color: #ffffff; /* ボタンの背景色 */
	border: 1px solid #ccc; /* 枠線 */
	padding: 10px 50px; /* パディング */
	border-radius: 5px; /* 角を丸く */
	cursor: pointer; /* カーソルをポインターに */
	transition: background-color 0.3s; /* ホバー時のアニメーション */
}

.filter-check-button .material-icons {
	color: #000000;
}

.option-button {
	display: flex; /* フレックスボックスを使用 */
	align-items: center; /* 垂直方向に中央揃え */
	margin-bottom: 10px;
}

.option-button button {
	background-color: #ffffff;
	border: 1px solid #ccc; /* 枠線 */
	color: #000000;
}

.searchOptionSelected {
	background-color: #ffe4e1 !important; /* 選択状態の背景色 */
	border-color: #ff6f61;
}

.bookmark-filter {
	display: flex; /* フレックスボックスを使用 */
	align-items: center; /* 垂直方向に中央揃え */
	padding: 10px 10px; /* パディング */
	border-radius: 30px; /* 角を丸く */
	height: 40px; /* ボタンの縦幅 */
}

.side-menu-footer {
	padding: 20px 20px; /* フッターのパディング */
	border-top: 2px solid #ccc; /* 上に線を引く */
}

.search-button {
	display: flex; /* フレックスボックスを使用 */
	justify-content: center; /* 水平方向に中央揃え */
	align-items: center; /* 垂直方向の中央揃え */
	background-color: #ff4d4d; /* ボタンの背景色 */
	color: #ffffff; /* テキストの色 */
	border: none; /* ボーダーをなしに */
	padding: 10px 15px; /* パディング */
	border-radius: 5px; /* 角を丸く */
	cursor: pointer; /* カーソルをポインターに */
	font-size: 16px;/* フォントサイズ */
	font-weight: 900; /* 太字 */
	width: 100%; /* ボタンを全幅に */
}

.search-none-screen {
	text-align: center;
	width: 400px;
	position: absolute;
	top: 180px;
	left: 50%; /* 横の中央 */
	transform: translateX(-50%); /* 自身の幅の半分だけ戻す */
	color: #696969;
}

.search-none-message, h3 {
	margin-bottom: 5px;
}

.search-none {
	background-color: var(--background-color); /* 背景の色 */
	color: #ff4d4d; /* テキストの色 */
	font-weight: 700; /* 文字の太さ */
	border: 1px solid #ff4d4d;
	border-radius: 5px; /* 角を丸くする */
	padding: 12px 20px; /* 上下と左右のパディング */
	font-size: 14px; /* フォントサイズ */
	width: 300px; /* 横幅 */
	margin-top: 10px; /* 上部のマージン */
	cursor: pointer; /* カーソルをポインターに */
	transition: background-color 0.3s ease, transform 0.1s ease; /* ホバー時のトランジション */
}

.search-none:active {
	transform: scale(0.95); /* クリック時の縮小効果 */
}

.modal {
	display: none; /* 初期状態で非表示 */
	padding: 30px;
	margin: 0; /* マージンをリセット */
	border-radius: 10px;
	background-color: var(--header-color);
	position: fixed; /* 固定位置に設定 */
	top: 40%; /* 縦の位置を上に移動 */
	left: 50%; /* 横中央に配置 */
	transform: translate(-50%, -50%); /* 中央に移動 */
	width: 400px; /* 幅を指定 */
	max-width: 90%; /* 最大幅を90%に設定 */
	z-index: 250; /* モーダルを最前面に表示 */
}

.delete-modal {
	display: none; /* 初期状態で非表示 */
	padding: 30px;
	margin: 0; /* マージンをリセット */
	border-radius: 10px;
	background-color: var(--header-color);
	position: fixed; /* 固定位置に設定 */
	top: 40%; /* 縦の位置を上に移動 */
	left: 50%; /* 横中央に配置 */
	transform: translate(-50%, -50%); /* 中央に移動 */
	width: 300px; /* 幅を指定 */
	max-width: 90%; /* 最大幅を90%に設定 */
	z-index: 250; /* モーダルを最前面に表示 */
	text-align: center;
	opacity: 0;
}

.delete-modal p {
	color: #ffffff;
}

.delete-check-do {
	background-color: var(--background-color); /* 背景の色 */
	color: #ff4d4d; /* テキストの色 */
	font-weight: 700; /* 文字の太さ */
	border: 2px solid #ff4d4d;
	border-radius: 5px; /* 角を丸くする */
	padding: 12px 20px; /* 上下と左右のパディング */
	font-size: 14px; /* フォントサイズ */
	width: 240px; /* 横幅 */
	margin-top: 10px; /* 上部のマージン */
	cursor: pointer; /* カーソルをポインターに */
	transition: background-color 0.3s ease, transform 0.1s ease; /* ホバー時のトランジション */
}

.delete-check-cancel {
	background-color: var(--background-color); /* 背景の色 */
	color: #0000ff; /* テキストの色 */
	font-weight: 700; /* 文字の太さ */
	border: 2px solid #0000ff;
	border-radius: 5px; /* 角を丸くする */
	padding: 12px 20px; /* 上下と左右のパディング */
	font-size: 14px; /* フォントサイズ */
	width: 240px; /* 横幅 */
	margin-top: 10px; /* 上部のマージン */
	cursor: pointer; /* カーソルをポインターに */
	transition: background-color 0.3s ease, transform 0.1s ease; /* ホバー時のトランジション */
}

.delete-check-do:active, .delete-check-do:cancel {
	transform: scale(0.95); /* クリック時の縮小効果 */
}

/* オーバーレイのスタイル */
.overlay {
	display: none; /* 初期状態で非表示 */
	position: fixed; /* 固定位置に設定 */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒色 */
	z-index: 200; /* オーバーレイをモーダルの下に表示 */
}

.footer-overlay {
	display: none; /* 初期状態で非表示 */
	position: fixed; /* 固定位置に設定 */
	bottom: 0;
	left: 0;
	width: 100%;
	height: 93px;
	background-color: rgba(255, 255, 255, 0.5); /* 半透明の白色 */
	z-index: 200; /* オーバーレイをモーダルの下に表示 */
}

.overlayWhite {
	display: none; /* 初期状態で非表示 */
	position: fixed; /* 固定位置に設定 */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5); /* 半透明の白色 */
	z-index: 100; /* オーバーレイをモーダルの下に表示 */
}

.modal-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0 10px 10px;
	color: #ffffff;
}

h4 {
	font-size: 24px;
	position: absolute; /* 中央揃えのため絶対配置 */
	left: 50%; /* 左から50% */
	transform: translateX(-50%); /* 自身の幅の半分だけ戻す */
	text-align: center; /* 中央揃え */

}

.close-button {
	font-size: 28px;
	font-weight: bold;
	cursor: pointer; /* カーソルをポインターに変更 */
}

.close-button:hover, .close-button:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

textarea {
	width: 100%;
	padding: 10px;
}

/* フォントの統一 */
input[type="text"], textarea {
	font-family: 'Arial', sans-serif; /* 使用したいフォントを指定 */
	font-size: 14px; /* フォントサイズを指定 */
	line-height: 1.5; /* 行間を指定 */
	padding: 10px; /* 内側の余白を指定 */
	border: 1px solid #ccc; /* ボーダーを指定 */
	border-radius: 5px; /* 角を丸くする */
	box-sizing: border-box; /* パディングとボーダーを含めた幅の計算 */
}

.textarea-single {
	white-space: nowrap;
}

/* フォーカス時のスタイルを追加 */
input[type="text"]:focus,
textarea:focus {
	border-color: #007BFF; /* フォーカス時のボーダー色 */
	outline: none; /* デフォルトのアウトラインを消す */
}

.form-submit {
	border: none;
	background-color: #ff4d4d;
	color: #ffffff;
	width: 100%;
	margin-top: 20px;
	border-radius: 5px;
	padding: 10px;
	font-size: 14px; /* フォントサイズを指定 */
}

/* リストのスタイル */
#dataDisplay {
	list-style-type: none; /* 点を非表示にする */
	padding: 58px 0 0 0; /* 左の余白を取り除く */
	margin: 0; /* 上下の余白を取り除く */
}

/* リストアイテムのスタイル */
#dataDisplay li {
	display: flex; /* フレックスボックスを使って項目を横に並べる */
	align-items: center; /* 縦方向の中央揃え */
	padding: 10px 0; /* 内側の余白 */
	margin: 5px 0; /* 上下の外側の余白 */
	border: 1px solid #ccc; /* 枠線 */
	border-radius: 5px; /* 角を丸くする */
	background-color: #f9f9f9; /* 背景色 */
	cursor: pointer;
	position: relative;
	overflow: hidden; /* はみ出した部分を隠す */
	text-align: center;
}

.comment-size {
	font-size: 20px;
}

.delete-button {
	position: absolute;
	right: 10px; /* ボタンの位置 */
	background: red; /* ボタンの背景色 */
	color: #ffffff; /* ボタンの文字色 */
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	transition: opacity 0.3s ease; /* ボタンのフェードイン・アウト */
}

#dataDisplay .text-node {
	flex-grow: 1; /* テキストを左に寄せるためにフレックスボックスの成長を設定 */
	overflow-wrap: break-word; /* 単語の途切れを許可 */
	word-wrap: break-word; /* 古いブラウザのサポート */
	hyphens: auto; /* ハイフネーションを自動にする */
	text-align: left;
}

/* チェックボックスのスタイル */
#dataDisplay li input[type="checkbox"] {
	margin-left: 15px; /* チェックボックスの左側にマージンを追加 */
	margin-right: 15px; /* チェックボックスとテキストの間の余白 */
	cursor: pointer;
}

/* ボタンのスタイル */
#dataDisplay .bookmark-icon {
	margin-left: 9.5px;
	cursor: pointer;
}

#dataDisplay .single-delete-icons {
	margin: 0 9.5px; /* チェックボックスのサイズ+余白に合わせたサイズ */
	cursor: pointer;
}

.selected {
	background-color: #e0e0e0 !important; /* 選択状態の背景色 */
}

/* 新規追加/閉じるボタンのスタイル */
.circle-icon {
	position: fixed; /* スクロールしても位置を固定 */
	bottom: 110px; /* 下からの距離 */
	right: 20px; /* 右からの距離 */
	width: 60px; /* ボタンの幅 */
	height: 60px; /* ボタンの高さ */
	background-color: var(--button-color); /* ボタンの背景色 */
	color: #000000; /* テキストの色 */
	border-radius: 50%; /* 丸い形にする */
	display: flex; /* 中央揃え */
	justify-content: center; /* 中央揃え */
	align-items: center; /* 中央揃え */
	font-size: 30px; /* アイコンのサイズ */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 影を付ける */
	cursor: pointer; /* カーソルをポインターに */
	z-index: 150;
	transition: transform 0.2s; /* スムーズな変化 */
}

/* 長押し時のスタイル */
.circle-icon.active {
	transform: scale(0.85); /* ボタンを少し縮小 */
}

.sircle-contain {
	position: fixed; /* スクロールしても位置を固定 */
	bottom: 40px; /* 下からの距離 */
	right: -50px; /* 右からの距離 */
	width:200px;
	height:200px;
	display:none;
	justify-content:center;
	align-items:center;
	z-index:150;
}

.outer {
	width:0px;
	height:0px;
	display:flex;
	justify-content:center;
/*	align-items:center;*/
	transition:all .35s ease;
}

.isOpen {
	width:200px;
	height:200px;
	/* transform:rotate(360deg); */
}

.inner {
	width:25%;
	height:25%;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:50%;
	background:#AACCE0;
	position:relative;
	top:40%;
	left:-20%;
	cursor:pointer;
	color: #ffffff;
}

.inner:nth-child(2) {
	background:#7B9EB2;
	position:relative;
	top:-3%;
	left:-27%;
}

.inner:nth-child(3) {
	background:#092D42;
	position:relative;
	top:-28%;
	left:-14%;
}

.inner:nth-child(4) {
	background:#347AA3;
	position:relative;
	left:0%;
	visibility: hidden
}

/* ヘルプボタンのスタイル */
.help-icon {
	position: fixed; /* スクロールしても位置を固定 */
	bottom: 110px; /* 下からの距離 */
	left: 20px; /* 右からの距離 */
	width: 30px; /* ボタンの幅 */
	height: 30px; /* ボタンの高さ */
	background-color: #87cefa; /* ボタンの背景色 */
	color: #000000; /* テキストの色 */
	border-radius: 50%; /* 丸い形にする */
	display: flex; /* 中央揃え */
	justify-content: center; /* 中央揃え */
	align-items: center; /* 中央揃え */
	font-size: 15px; /* アイコンのサイズ */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 影を付ける */
	cursor: pointer; /* カーソルをポインターに */
}

.loading-text {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	color: #ffffff;
	width: 80px; /* サイズを小さく */
	height: 30px;
	margin: -10px 0 0 -40px; /* 中央揃えのためのマージンを調整 */
	text-align: center;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 12px; /* フォントサイズを小さく */
}

.loading-content {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 100px; /* サイズを小さく */
	height: 100px; /* サイズを小さく */
	margin: -50px 0 0 -50px; /* 中央揃えのためのマージンを調整 */
	border: 3px solid #F00;
}

.loading-content:after {
	content: "";
	position: absolute;
	border: 3px solid #0F0;
	left: 10px; /* 内部のサイズを調整 */
	right: 10px;
	top: 10px; /* 内部のサイズを調整 */
	bottom: 10px;
}

.loading-content:before {
	content: "";
	position: absolute;
	border: 3px solid #00F;
	left: 5px; /* 内部のサイズを調整 */
	right: 5px;
	top: 5px; /* 内部のサイズを調整 */
	bottom: 5px;
}

.loading-content {
	border: 3px solid transparent;
	border-top-color: #4D658D;
	border-bottom-color: #4D658D;
	border-radius: 50%;
	-webkit-animation: loader 2s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
	animation: loader 2s linear infinite;
}

.loading-content:before {
	border: 3px solid transparent;
	border-top-color: #D4CC6A;
	border-bottom-color: #D4CC6A;
	border-radius: 50%;
	-webkit-animation: loader 3s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
	animation: loader 3s linear infinite;
}

.loading-content:after {
	border: 3px solid transparent;
	border-top-color: #84417C;
	border-bottom-color: #84417C;
	border-radius: 50%;
	-webkit-animation: loader 1.5s linear infinite;
	animation: loader 1.5s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

#content-wrapper {
	color: #FFF;
	position: fixed;
	left: 0;
	top: 20px;
	width: 100%;
	height: 100%;
}

/* テンプレート選択メニュー */
.template-select-menu {
	position: fixed;
	top: 200%;
	right: 0; /* 初期状態では画面外 */
	width: 100%;
	height: 100%;
	background-color: var(--background-color);
	color: #000000;
	transition: top 0.3s ease-in-out;
	z-index: 250;
	padding: 0 20px;
	overflow-y: auto; /* 縦方向のスクロールを有効に */
}

.template-select-menu.open {
	top: 0;
}

.template-select-header {
	width: 100%;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	position: fixed;
	color: #ffffff;
	background-color: var(--header-color);
	z-index: 1;
}

.template-select-header span {
	cursor: pointer;
}

.accordion {
	width: 100%;
	list-style-type: none; /* 点を非表示にする */
	padding: 60px 0 20px 0;
}

.link {
	display: flex; /* フレックスボックスを使って項目を横に並べる */
	padding: 10px 10px 10px 25px; /* 内側の余白 */
	margin: 4px 0; /* 上下の外側の余白 */
	border: 1px solid #ccc; /* 枠線 */
	border-radius: 5px; /* 角を丸くする */
	background-color: #f9f9f9; /* 背景色 */
	cursor: pointer;
	position: relative;
	overflow: hidden; /* はみ出した部分を隠す */
	font-size: 14px;
	transition: all 0.2s ease;
}

.text-node {
	flex-grow: 1; /* テキストを左に寄せるためにフレックスボックスの成長を設定 */
}

.fa-chevron-down {
	transition: all 0.4s ease;
}

.accordion li.open .link {
	color: #b63b4d;
	font-weight: 700;
}

.accordion li.open i.fa-chevron-down {
	transform: rotate(180deg);
	transition: transform 0.4s ease; /* 回転のアニメーション */
}

.submenu {
	max-height: 0; /* 初期状態は高さ0 */
	overflow: hidden; /* コンテンツがはみ出さないようにする */
	background: #dcdcdc;
	padding: 0 20px; /* 開閉時にパディングが変わらないように */
	transition: max-height 0.5s ease, padding 0.5s ease; /* スムーズなアニメーションを追加 */
	border-radius: 5px; /* 角を丸くする */
}

.submenu.open {
	max-height: 500px; /* 最大の高さを設定（必要に応じて調整） */
	padding: 20px; /* 開いているときのパディング */
}

.template-button {
	background-color: #ff4d4d; /* ボタンの背景色 */
	color: #ffffff; /* テキストの色 */
	border: none; /* ボーダーをなしに */
	padding: 5px 10px; /* パディング */
	border-radius: 5px; /* 角を丸く */
	cursor: pointer; /* カーソルをポインターに */
	font-size: 16px;/* フォントサイズ */
	margin-top: 5px;
}